<div
  class="polaroid inline-block bg-white p-3 pb-10 shadow-lg border border-white/90"
  [class.rotate-1]="rotation() === 1"
  [class.-rotate-1]="rotation() === -1"
  [class.rotate-2]="rotation() === 2"
  [class.-rotate-2]="rotation() === -2"
  [class.rotate-0]="rotation() === 0"
>
  <div class="overflow-hidden bg-neutral-100">
    @if (imageUrl()) {
      <img
        [src]="imageUrl()"
        [alt]="caption()"
        class="block w-full h-auto object-cover"
      />
    }
  </div>
  <p class="font-handwriting text-[#4B3621] text-center text-base mt-3 px-1 select-none">
    {{ caption() }}
  </p>
</div>
